body {
  .header {
    background-color: #3b5998;
  }
  p {
    font-family: "Montserrat", sans-serif;
    color: white;
  }
  table {
    background-color: #dfe1ee;
  }
  tr {
    display: block;
  }
  #avatar {
    background: #bfc4dc;
    padding: 20px;
    border-radius: 70px;
  }
}
